.details{
    height: 90vh;
    font-family: serif;
    color: black;
    align-content: center;
    font-family: "M PLUS 1 Code";
    img{
        display: block;
        margin: auto;
    }
    .detailsStyle{
        font-size: clamp(18px, 2vw, 20px);
        margin: auto;
        img{
            border-radius: 20px;
            display: block;
            margin: auto;
        }
    }
    .data{
        background: rgba(230, 224, 224, 0.5);
    }
    .flavor{
        background: rgba(230, 224, 224, 0.5);
        min-height: 200px;
        align-content: center;
        text-align: center;
    }
    .loading{
        text-align: center;
    }
}