section {
    position: relative;
    font-family: "Pokemon Solid";
    min-height: 110vh;
}
.home{
    color: yellow;
    text-shadow: 5px 5px 10px blue;
    padding: 10px;
    input{
        border: 1px solid lightgrey;
        width: 75%;
        height: 50px;
        display: block;
        margin: auto;
        font-size: 1.1em;
        &:active {
            border: 2px solid blue;
        }
    }
}
section::before {
    content: "";
    position: absolute;
    inset: 0;
    background: url('../../../public/Images/landscape.jpg');
    background-size: cover;
  background-position: center; 
  background-repeat: no-repeat;
    opacity: 0.5; /* adjust opacity here */
    z-index: -1;
}
.homeHero{
    border-bottom: .5px solid lightgrey;
    height: 250px;
    text-align: center;
    align-content: center;
    font-size: clamp(18px, 2vw,  30px);
    //background: rgba(255, 255, 255, 0.3);
}
.cardContainer{
    padding: 10px 0;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    gap: 70px;
    height: 50vh;
    .card{
        min-width: 250px;
        box-shadow: 1px 1px 20px black;
        height: 335px;
        border-radius: 20px;
        background: rgba(120,120,120,.9);
    }
    .loadingStatement{
        font-size: 1.5em;
    }
}
.pagination{
    width: 50%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    
    button{
        border: 2px solid black;
        border-radius: 20px;
        padding: 10px;
        margin: 5px;
        width: 90px;
        font-family: "Pokemon Solid";
        background-color: rgba(255, 0, 0, 0.85);
        color: white;
        &:hover{
            cursor: pointer;
        }
    }
}